* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
    to left,
    #ada996,
    #f2f2f2,
    #dbdbdb,
    #eaeaea
  );
}

.App {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 850px) {
  .App {
    flex-direction: column;
  }
}
